@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces_Bold_700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat_Thin_Var.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/********************************/
/* CUSTOM PROPERTIES */
/********************************/

:root {
  /* Colors */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Spacing */
  --s-4: 0.25rem;
  --s-8: 0.5rem;
  --s-12: 0.75rem;
  --s-13: 0.8125rem;
  --s-14: 0.875rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;

  /* Fonts */
  --w-1: 500;
  --w-2: 700;
}

/********************************/
/* GENERAL */
/********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  min-block-size: 100vh;
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--w-1);
  color: var(--grey);
  font-size: var(--s-14);
}

/********************************/
/* UTILITIES */
/********************************/

/* Text Presets */
/********************************/

.txt-p--1 {
  font-family: "Fraunces", sans-serif;
  font-size: var(--s-32);
  font-weight: var(--w-2);
  line-height: 1;
}

.txt-p--2 {
  font-weight: var(--w-2);
  line-height: 1.1;
}

.txt-p--3 {
  line-height: 1.6;
}

.txt-p--4 {
  font-size: var(--s-12);
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.txt-p--5 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--s-13);
  font-weight: var(--w-1);
  line-height: 1.2;
}

/* Colors */
/********************************/

.black {
  color: var(--black);
}

.green--500 {
  color: var(--green-500);
}

.grey {
  color: var(--grey);
}

/* Spacing */
/********************************/

.pd--32 {
  padding: var(--s-32);
}
.pd--24 {
  padding: var(--s-24);
}
.pd--16 {
  padding: var(--s-16);
}

/* Layout */
/********************************/

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Screen reader only */
/********************************/

.sr-only {
  position: absolute;
  left: -10000px;
  inline-size: 1px;
  block-size: 1px;
  top: auto;
  overflow: hidden;
}

/********************************/
/* ELEMENTS */
/********************************/

.container {
  display: grid;
  grid-template-columns: 1fr;
  inline-size: 93.33%;
  max-inline-size: 28rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

picture,
img.product {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  block-size: 21.375rem;
  max-inline-size: 100%;
}

.card {
  background-color: var(--white);
  min-block-size: 25.5rem;
  border-radius: 0 0 8px 8px;
}

.card * + *:not(button) {
  margin-bottom: var(--s-24);
}

.price {
  gap: var(--s-16);
}

button {
  all: unset;
  justify-content: center;
  inline-size: 100%;
  block-size: 3.125rem;
  gap: var(--s-8);
  color: white;
  background-color: var(--green-500);
  border-radius: 8px;
  transition: all 500ms;
}

button:hover {
  background-color: var(--green-700);
}

/********************************/
/* MEDIA QUERIES */
/********************************/

/* Above 704px */
/********************************/

@media (min-width: 44rem) {
  .container {
    max-inline-size: 37.5rem;
    grid-template-columns: 1fr 1fr;
  }

  img.product,
  .card {
    block-size: 28.5rem;
  }

  img.product {
    border-radius: 8px 0 0 8px;
  }

  .card {
    border-radius: 0 8px 8px 0;
  }

  .card > p {
    margin-bottom: var(--s-32);
  }
}
